.login-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/src/assets/home_stylesList.webp);
  background-size: cover;
  background-position: center;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px) brightness(90%);
  -webkit-backdrop-filter: blur(20px) brightness(90%);
  -ms-backdrop-filter: blur(20px) brightness(90%);

  max-width: 400px;
  border-radius: 5%;
}
.nav-login {
  font-family: var(--font-heading);
  margin-left: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#login-heading {
  font-family: var(--font-heading);
  font-size: calc(0.9 * 4vw);
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 5px;
  height: 3rem;
  padding-left: 1rem;
  font-family: var(--font-heading);
  outline: none;
  color: white;
}

.login-input::placeholder {
  color: white;
}

#login-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: var(--font-heading);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#login-button:hover {
  background-color: #f3f3f3;
}

#login-link {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}

#login-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 992px) {
  #login-image {
    height: 500px;
  }

  #login-heading {
    font-size: calc(0.9 * 8vw);
  }
}

.login-alert {
  font-family: var(--font-heading-light);
  border-radius: 5px;
  background-color: rgb(255, 0, 0, 0.1);
  padding-left: 5px;
  padding-right: 5px;
}

.login-span {
  color: blue;
}

.login-span:hover {
  text-decoration: underline;
}
