/* .page-wrap {
  width: 100vw;
  overflow: scroll;
  background-color: rgb(243 244 246);
}

.table-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;
}

.table {
  max-width: 900px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table th {
  background-color: rgb(243 244 246) !important;
  font-size: 0.9rem;
} */
